<section class="hero is-fullheight-with-navbar" id="1">
  <div class="hero-body">
    <div class="container">
      <p class="subtitle" data-aos="fade-right" data-aos-once="true" data-aos-delay="2000" style="padding-top: 1.5rem;">
        Steuerberater Ingo Kneisel
      </p>
      <div class="title is-2">
        <!-- <div class="{{app.css}}">
          <p>Herzlich Willkommen auf unserer Website!</p>
        </div> -->
        <span id="typed"></span>
      </div>
      <p data-aos="fade-right" data-aos-once="true" data-aos-delay="2300">
        Als <strong>Steuerberater</strong> und <strong>vereidigter Buchprüfer</strong> unterstützen wir unsere Mandanten
        in allen Belangen des wirtschaftlichen Lebens. Unser Ziel ist es, Sie durch kreative Steuergestaltung und
        vorausschauende Planung erfolgreich zu machen.
      </p>
      <br />
      <p class="is-hidden-mobile" data-aos="fade-right" data-aos-once="true" data-aos-delay="2600">
        Eine zeitgemäße Beratung braucht heute mehr denn je umfassende Kenntnisse, gerade auch im Hinblick auf die
        derzeit nicht immer klar abschätzbare Entwicklung mancher Fragen des Steuerrechts in der Zukunft.
      </p>
      <br />
      <p data-aos="fade-right" data-aos-once="true" data-aos-delay="2900">
        Wir beraten Sie zuverlässig, kompetent und nachhaltig, und das <strong>nicht nur in deutscher Sprache</strong>.
      </p>
      <div data-aos="fade-right" data-aos-once="true" data-aos-delay="3000" style="margin-top: 24px;">
        <a class="button is-primary is-hidden-touch" (click)="startTour()">
          <span class="icon">
            <i class="fas fa-play"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="hero-foot"></div>
</section>
<section class="hero fh" id="2">
  <div class="hero-body is-vertically-centered">
    <div class="tile is-ancestor">
      <div class="tile is-7 is-vertical is-parent">
        <div class="container" data-aos="fade-right">
          <div class="card" style="height: 100%;">
            <div class="card-content">
              <p class="subtitle">YourXpert</p>
              <p class="title is-2">Steuerberater Online</p>
              <div class="content">
                <p>
                  Die Steuergesetze sowie -regelungen werden immer komplexer, unübersichtlicher und unterliegen
                  schnellen Änderungen. Oft benötigt man in diesem Steuerdschungel eine schnelle und unkomplizierte
                  Auskunft, eine Erstberatung oder eine zweite Meinung für einen Steuersachverhalt, auf die man weder
                  lange warten noch eine zeit- und kostenintensive Komplettberatung in Anspruch nehmen möchte.
                </p>
                <p>
                  Auf der Plattform YourXpert beantworte ich Privatpersonen & Unternehmen leicht verständlich alle
                  steuerlichen Fragen.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-3">
        <div class="container" data-aos="fade-left">
          <div class="content">
            <p class="subtitle is-5">schnell, effizient, verständlich</p>
            <p class="title is-2">Meine Beratung</p>
          </div>
          <div class="card clickable" (click)="goToYourXpert()">
            <div class="card-header">
              <p class="subtitle is-5">
                📞 0900-1010 999
              </p>
            </div>
            <div class="card-content">
              <p class="subtitle is-5">
                Rufen Sie mich jetzt an!
              </p>
              <p class="subtitle is-6">Kennung: <strong>79289</strong></p>
              <p class="subtitle is-6">🇩🇪 1,99 € / Min.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero fh" id="3">
  <div class="hero-body">
    <div class="tile is-ancestor">
      <div class="tile is-2 is-parent"></div>
      <div class="tile is-3 is-vertical is-parent">
        <div class="container" data-aos="fade-right">
          <div class="content">
            <p class="title is-2" style="margin-bottom: 1.5rem;">Das Team</p>
            <p class="subtitle is-5">persönlich, kompetent, erreichbar</p>
            <p>
              Für alle Problemstellungen ist stets eine unserer Mitarbeiterinnen verantwortlich, die Sie in allen
              Angelegenheiten und Fragen ansprechen können. So stellen wir sicher, dass Sie fachlich stets optimal
              beraten werden, ohne dass der persönliche Kontakt verloren geht.
            </p>
            <a class="button is-primary is-large" (click)="openTeam()">
              <span>Team ansehen</span>
            </a>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-7">
        <div class="container" data-aos="fade-left">
          <div class="card size">
            <div class="card-content">
              <p class="title is-2">Ingo Kneisel & Team</p>
              <p class="subtitle">Eine gute Beratung erfordert versierte und qualifizierte Mitarbeiter!</p>
              <div class="content">
                <p>
                  Mit unserem Team von Mitarbeiterinnen und einem Steuerberater/vBP als Kanzleiinhaber, stellen wir uns
                  als versiertes und qualifiziertes Team allen Ihren Wünschen und Ansprüchen. Ihre persönliche Betreuung
                  ist bei uns ein "Muss". Sie sind keine "Nummer" und müssen auch keine "ziehen" um von uns betreut und
                  beraten zu werden.
                </p>
                <p>
                  Unsere Mitarbeiterinnen verfügen über umfangreiche Erfahrungen in der steuerlichen und
                  betriebswirtschaftlichen Beratung. Wir bieten Ihnen unsere Dienstleistungen gut, verlässlich,
                  kostengünstig und flexibel an.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero fh" id="4">
  <div class="hero-body">
    <div class="tile is-ancestor">
      <div class="tile is-7 is-vertical is-parent">
        <div class="container" data-aos="fade-right">
          <div class="card" style="height: 100%;">
            <div class="card-content">
              <p class="subtitle">Services</p>
              <p class="title is-2">Dienstleistungen</p>
              <div class="content">
                <p>Wir versorgen Sie mit allem, was Sie für ein gut funktionierendes Unternehmen benötigen!</p>
                <p>
                  Vom <strong>Rechnungswesen</strong>, über <strong>Lohnbuchhaltung</strong> und
                  <strong>Abschlussarbeiten</strong>, hin zu individuellster <strong>steuerlicher</strong> und
                  <strong>betriebswirtschaftlicher Beratung</strong>, alles aus einer Hand.
                </p>
                <p>
                  Selbstverständlich haben wir auch gute Verbindungen und Kooperationen zu Leistungsträgern angrenzender
                  Dienstleistungen und Rechtsgebiete.
                </p>
                <p>Bitte sprechen Sie uns gerne dazu an!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-3">
        <div class="container" data-aos="fade-left">
          <div class="content">
            <p class="title is-2" style="margin-bottom: 1.5rem;">Übersicht</p>
            <p class="subtitle is-5">Dienstleistungsangebot</p>
            <p>Interesse geweckt? Informieren Sie sich gerne im Detail über unser Dienstleistungsangebot.</p>
            <a class="button is-primary is-large" (click)="openServices()">
              <span>Mehr erfahren</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero fh" id="5">
  <div class="hero-body">
    <div class="tile is-ancestor">
      <div class="tile is-2 is-parent"></div>
      <div class="tile is-3 is-vertical is-parent">
        <div class="container" data-aos="fade-right">
          <div class="content">
            <p class="subtitle is-5">Ausschreibungen</p>
            <p class="title is-2" style="margin-bottom: 1.5rem;">Wir suchen:</p>
            <a class="button is-primary is-large" (click)="openJob('1')">
              <span>Steuerberater (m/w/d)</span>
            </a>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-7">
        <div class="container" data-aos="fade-left">
          <div class="card size">
            <div class="card-content">
              <p class="title is-2">Jobs</p>
              <p class="subtitle">Ihr Ansprechpartner</p>
              <div class="content">
                <p style="margin-bottom: 0;"><strong>Ingo Kneisel</strong></p>
                <p style="margin-bottom: 0;">Durchwahl: 0521 92420 - 21</p>
                <a class="link" href="mailto:info@ingo-kneisel.de">info@ingo-kneisel.de</a>
                <br />
                <br />
                <p>Bitte bewerben Sie sich, gerne per E-Mail!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero fh" id="6">
  <div class="hero-body">
    <div class="tile is-ancestor">
      <div class="tile is-7 is-vertical is-parent">
        <div class="container" data-aos="fade-right">
          <div class="card" style="height: 100%;">
            <div class="card-content">
              <p class="title is-2">Steuerberater Ingo Kneisel</p>
              <p class="subtitle">Kontakt</p>
              <div class="content">
                <p style="margin-bottom: 0;">Detmolder Str. 235</p>
                <p>33605 Bielefeld</p>
                <p style="margin-bottom: 0;">Telefon: 0521 92420 - 0</p>
                <p>Telefax: 0521 92420 - 20</p>
                <a class="link" rel="noopener" href="mailto:info@ingo-kneisel.de">info@ingo-kneisel.de</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-3">
        <div class="container" data-aos="fade-left">
          <div class="content">
            <p class="title is-2" style="margin-bottom: 1.5rem;">Öffnungszeiten</p>
            <p class="subtitle is-5">Geöffnet Werktags</p>
            <p style="margin-bottom: 0;">Montag bis Donnerstag:</p>
            <p>08:00 - 13:00 u. 14:00 - 17:00 Uhr</p>
            <p style="margin-bottom: 0;">Freitag:</p>
            <p>08:00 - 13:00 Uhr</p>
            <p><strong>Oder nach Vereinbarung</strong></p>
            <a class="button is-primary is-large is-hidden-mobile" (click)="scrollTo(5.825)">
              <span>Anfahrt</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Anfahrt -->
<section class="hero fh" id="7">
  <div class="hero-body">
    <div class="tile is-ancestor">
      <div class="tile is-12 is-vertical is-parent">
        <div class="container">
          <div class="card" style="height: 100%; overflow: hidden;">
            <div #gmap style="height:70vh;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ngx-smart-modal #teamModal identifier="teamModal" [closable]="true" [dismissable]="true" [escapable]="true">
  <p class="title">Ingo Kneisel & Team</p>
  <h3 class="subtitle">Ihre Ansprechpartner</h3>
  <div class="mitarbeiter">
    <article class="media">
      <figure class="media-left">
        <figure class="image is-96x96 is-rounded">
          <img class="rounded-edges" src="../../assets/and.jpg" alt="Andrea Schengbier" />
        </figure>
      </figure>
      <div class="media-content">
        <p><strong>Andrea Schengbier</strong></p>
        <p>Steuerfachangestellte</p>
        <p><span class="is-hidden-mobile">Durchwahl: </span>0521 92420 - 24</p>
        <p>
          <a class="link is-hidden-mobile" href="mailto:andreaschengbier@ingo-kneisel.de"
            >andreaschengbier@ingo-kneisel.de</a
          >
        </p>
        <p><a class="link is-hidden-tablet" href="mailto:andreaschengbier@ingo-kneisel.de">E-Mail</a></p>
      </div>
    </article>
    <hr />
    <article class="media">
      <figure class="media-left">
        <figure class="image is-96x96 is-rounded">
          <img class="rounded-edges" src="../../assets/akuebler.jpg" alt="Anette Kübler" />
        </figure>
      </figure>
      <div class="media-content">
        <p><strong>Anette Kübler</strong></p>
        <p>Steuerfachangestellte</p>
        <p><span class="is-hidden-mobile">Durchwahl: </span>0521 92420 - 23</p>
        <a class="link is-hidden-mobile" href="mailto:anettekuebler@ingo-kneisel.de">anettekuebler@ingo-kneisel.de</a>
        <a class="link is-hidden-tablet" href="mailto:anettekuebler@ingo-kneisel.de">E-Mail</a>
      </div>
    </article>
    <hr />
    <article class="media">
      <figure class="media-left">
        <figure class="image is-96x96 is-rounded">
          <img class="rounded-edges" src="../../assets/ew.jpg" alt="Ewa Oziembala" />
        </figure>
      </figure>
      <div class="media-content">
        <p>
          <strong>Ewa Oziembala <span class="is-hidden-mobile">M.Sc.</span></strong>
        </p>
        <p>Steuerfachangestellte</p>
        <p><span class="is-hidden-mobile">Durchwahl: </span>0521 92420 - 22</p>
        <a class="link is-hidden-mobile" href="mailto:ewaoziembala@ingo-kneisel.de">ewaoziembala@ingo-kneisel.de</a>
        <a class="link is-hidden-tablet" href="mailto:ewaoziembala@ingo-kneisel.de">E-Mail</a>
      </div>
    </article>
    <hr />
    <article class="media">
      <figure class="media-left">
        <figure class="image is-96x96 is-rounded">
          <img class="rounded-edges" src="../../assets/skneisel.jpg" alt="Susanne Kneisel" />
        </figure>
      </figure>
      <div class="media-content">
        <p><strong>Susanne Kneisel</strong></p>
        <p>Steuerfachangestellte</p>
        <p><span class="is-hidden-mobile">Durchwahl: </span>0521 92420 - 0</p>
        <a class="link is-hidden-mobile" href="mailto:susannekneisel@ingo-kneisel.de">susannekneisel@ingo-kneisel.de</a>
        <a class="link is-hidden-tablet" href="mailto:susannekneisel@ingo-kneisel.de">E-Mail</a>
      </div>
    </article>
    <hr />
    <article class="media">
      <figure class="media-left">
        <figure class="image is-96x96 is-rounded">
          <img class="rounded-edges" src="../../assets/nklein.png" alt="" />
        </figure>
      </figure>
      <div class="media-content">
        <p><strong>Nicola Klein</strong></p>
        <p>Auszubildende <span class="is-hidden-mobile">zur Kauffrau für Büromanagement</span></p>
        <p><span class="is-hidden-mobile">Durchwahl: </span>0521 92420 - 26</p>
        <a class="link is-hidden-mobile" href="mailto:nicolaklein@ingo-kneisel.de">nicolaklein@ingo-kneisel.de</a>
        <a class="link is-hidden-tablet" href="mailto:nicolaklein@ingo-kneisel.de">E-Mail</a>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <figure class="image is-96x96 is-rounded">
          <img class="rounded-edges" src="../../assets/ikneisel.png" alt="Ingo Kneisel" />
        </figure>
      </figure>
      <div class="media-content">
        <p><strong>Ingo Kneisel</strong></p>
        <p>Steuerberater, vereidigter Buchprüfer</p>
        <p><span class="is-hidden-mobile">Durchwahl: </span>0521 92420 - 21</p>
        <a class="link is-hidden-mobile" href="mailto:info@ingo-kneisel.de">info@ingo-kneisel.de</a>
        <a class="link is-hidden-tablet" href="mailto:info@ingo-kneisel.de">E-Mail</a>
      </div>
    </article>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #jobModal1 identifier="jobModal1" [closable]="true" [dismissable]="true" [escapable]="true">
  <p class="title">Steuerberater (m/w/d)</p>
  <h3 class="subtitle">Ausschreibung</h3>
  <p>
    Wir schreiben derzeit eine Anstellung für eine/n Steuerberater/in, entweder im Rahmen eines Anstellungsverhältnisses
    gem. § 58 StBerG oder einer freiberuflichen Zusammenarbeit aus. Es besteht auch die Möglichkeit, einer/m Kollegen/in
    der/die bereits selbst über einen eigenen kleinen Mandantenstamm verfügt, einen Arbeitsplatz, z. B. im Rahmen einer
    Bürogemeinschaft und/odere einer freien Mitarbeit in unserer Kanzlei zu bieten.
  </p>
  <p>
    Geplant ist längerfristig die Übergabe der Kanzlei an eine/n Nachfolger/in , der/dem sich damit sodann die
    Möglichkeit eröffnen könnte, unsere Mandanten und unser Umfeld kennenzulernen.
  </p>
</ngx-smart-modal>
<ngx-smart-modal #servicesModal identifier="servicesModal" [closable]="true" [dismissable]="true" [escapable]="true">
  <p class="title"><span class="is-hidden-mobile">Unsere </span>Dienstleistungen</p>
  <h3 class="subtitle">Sprechen Sie uns an</h3>
  <!-- Rechnungswesen -->
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p class="title is-5">Rechnungswesen</p>
        <ul>
          <li>
            Einrichten, Kontieren, steuerliche Würdigung aller Belege und Erfassen ihrer Buchhaltung, Verarbeitung per
            EDV-System “DATEV“ nach kaufmännischen und steuerlichen Gesichtspunkten, unter Beachtung der
            handelsrechtlichen “GOBD´s“ (Grundsätze zur ordnungsgemäßen Führung und Aufbewahrung von Büchern,
            Aufzeichnungen und Unterlagen in elektronischer Form sowie zum Datenzugriff).
          </li>
          <li>
            Auswerten Ihrer Buchhaltung aus steuerlicher und betriebswirtschaftlicher Sicht. Erstellung verschiedener
            BWA´s, Zeitreihenvergleich, Mehrjahresvergleich, etc.
          </li>
          <li>
            Erledigung der in diesem Zusammenhang anfallenden steuerlichen Verpflichtungen und Notwendigkeiten, z.B.
            Erstellung der Umsatzsteuervoranmeldung, zusammenfassende Meldung, datenträgerloser Belegaustausch etc.
          </li>
          <li>Erstellung eines Konzepts zur Installation einer eigenen “In-House-Lösung“ für die eigene Buchführung</li>
          <li>Überlassung einer eigenen, mandantenfähigen Beraternummer bei der DATEV eG</li>
        </ul>
      </div>
    </div>
  </article>
  <!-- Lohnbuchhaltung -->
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p class="title is-5">Lohnbuchhaltung</p>
        <ul>
          <li>Einrichtung Ihrer Lohnbuchführung, MAD / MPD für DATEV</li>
          <li>Erstellen der Lohn-/Gehaltsabrechnungen für Ihre Mitarbeiter.</li>
          <li>
            Erledigung aller in diesem Zusammenhang entstehenden steuerlichen und sozialversicherungsrechtlichen
            Verpflichtungen
            <ul>
              <li>Datenaustausch mit Behörden</li>
              <li>Sofortmeldungen</li>
              <li>ELStAM</li>
              <li>etc.</li>
            </ul>
          </li>
          <li>
            Erstellung sonstiger Bescheinigungen, z.B. für Minijobs - Mindestlohn, Führung der Lohnkonten, An- und
            Abmeldung, Verdienstbescheinigungen, etc.
          </li>
          <li>Erstellung Ihrer Baulohnabrechnungen nebst Erfüllung aller notwendigen Nebenpflichten</li>
        </ul>
      </div>
    </div>
  </article>
  <!-- Abschlussarbeiten -->
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p class="title is-5">Abschlussarbeiten</p>
        <ul>
          <li>Gestaltungsberatung vor Erstellung des Jahresabschlusses</li>
          <li>
            Erstellung Ihres Jahresabschlusses nach handels- und steuerrechtlichen Vorschriften, aufgrund der von uns
            oder Ihnen erstellten Buchführung
          </li>
          <li>Prüfung Ihres Jahresabschlusses (freiwillige Prüfungen, Pflichtprüfungen)</li>
          <li>Abwägung und Erörterung bilanzpolitischer Notwendigkeiten</li>
          <li>
            Erstellung der für Sie obligatorischen Steuererklärungen für Privatpersonen, Einzelunternehmen,
            Personenhandelsgesellschaften sowie Kapitalgesellschaften (GmbH, AG, etc.)
          </li>
        </ul>
      </div>
    </div>
  </article>
  <!-- Steuerliche Beratung -->
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p class="title is-5">Steuerliche Beratung und mehr</p>
        <ul>
          <li>
            Erteilung von Rat, Auskunft und Interessenvertretung, nicht nur im steuerlichen Bereich, sondern auch im
            aussersteuerlichen Bereich
          </li>
          <li>Erstellung sämtlicher Steuererklärungen</li>
          <li>Sachverhaltsgestaltungen</li>
          <li>Erstellung von Vergleichsanalysen</li>
          <li>Stellung von Erlass, Stundungs-, Aussetzungs-, Herabsetzungs-, Anpassungs-anträgen, etc.</li>
          <li>Durchführung von außergerichtlichen Rechtsbehelfsverfahren</li>
          <li>Führung von Verfahren vor den Finanzgerichten</li>
          <li>Führung von Revisionen vor dem Bundesfinanzhof</li>
        </ul>
      </div>
    </div>
  </article>
  <!-- Betriebswirtschaftliche Beratung -->
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p class="title is-5">Betriebswirtschaftliche Beratung</p>
        <ul>
          <li>Existenzgründungsberatungen</li>
          <li>Investitionsplanungen</li>
          <li>
            Erstellung von:
            <ul>
              <li>Auseinandersetzungsbilanzen</li>
              <li>Wirtschaftliche Vergleichsberechnungen</li>
            </ul>
          </li>
          <li>Behandlung sonstiger betriebswirtschaftlichter Problemstellungen</li>
          <li>
            EDV-Lösungen für Warenwirtschaftssysteme, Datenverarbeitung für Finanzbuchhaltung und Lohn- und
            Gehaltsabrechnungen
          </li>
        </ul>
      </div>
    </div>
  </article>
</ngx-smart-modal>
