<section class="hero is-fullheight-with-navbar" id="1">
  <div class="hero-body">
    <div class="container">
      <p class="subtitle" data-aos="fade-right" data-aos-once="true" data-aos-delay="2000" style="padding-top: 1.5rem;">Steuerberater Ingo Kneisel</p>
      <div class="title is-2">
        <!-- <div class="{{app.css}}">
          <p>Herzlich Willkommen auf unserer Website!</p>
        </div> -->
        <span id="typed"></span>
      </div>
      <p data-aos="fade-right" data-aos-once="true" data-aos-delay="2300">Als <strong>Steuerberater</strong> und <strong>vereidigter Buchprüfer</strong> unterstützen wir unsere Mandanten in allen Belangen des wirtschaftlichen Lebens. Unser Ziel ist es, Sie durch kreative Steuergestaltung und vorausschauende Planung erfolgreich zu machen.</p>
      <br>
      <p class="is-hidden-mobile" data-aos="fade-right" data-aos-once="true" data-aos-delay="2600">Eine zeitgemäße Beratung braucht heute mehr denn je umfassende Kenntnisse, gerade auch im Hinblick auf die derzeit nicht immer klar abschätzbare Entwicklung mancher Fragen des Steuerrechts in der Zukunft.</p>
      <br>
      <p data-aos="fade-right" data-aos-once="true" data-aos-delay="2900">Wir beraten Sie zuverlässig, kompetent und nachhaltig, und das <strong>nicht nur in deutscher Sprache</strong>.</p>
      <div data-aos="fade-right" data-aos-once="true" data-aos-delay="3000" style="margin-top: 24px;">
        <a class="button is-primary is-hidden-touch" (click)="startTour()">
          <span class="icon">
            <i class="fas fa-play"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="hero-foot">
  </div>
</section>
<section class="hero fh" id="2">
  <div class="hero-body is-vertically-centered">
      <div class="tile is-ancestor">
        <div class="tile is-7 is-vertical is-parent">
          <div class="container" data-aos="fade-right">
            <div class="card" style="height: 100%;">
              <div class="card-content">
                <p class="subtitle">YourXpert</p>
                <p class="title is-2">Steuerberater Online</p>
                <div class="content">
                  <p>Die Steuergesetze sowie -regelungen werden immer komplexer, unübersichtlicher und unterliegen schnellen Änderungen. Oft benötigt man in diesem Steuerdschungel eine schnelle und unkomplizierte Auskunft, eine Erstberatung oder eine zweite Meinung für einen Steuersachverhalt, auf die man weder lange warten noch eine zeit- und kostenintensive Komplettberatung in Anspruch nehmen möchte.</p>
                  <p>Auf der Plattform YourXpert beantworte ich Privatpersonen & Unternehmen leicht verständlich alle steuerlichen Fragen.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent is-3">
          <div class="container" data-aos="fade-left">
            <div class="content">
              <p class="subtitle is-5">schnell, effizient, verständlich</p>
              <p class="title is-2">Meine Beratung</p>
            </div>
            <div class="card clickable" (click)="goToYourXpert()">
              <div class="card-header">
                <p class="subtitle is-5">
                  📞 0900-1010 999
                </p>
              </div>
              <div class="card-content">
                <p class="subtitle is-5">
                  Rufen Sie mich jetzt an!
                </p>
                <p class="subtitle is-6">Kennung: <strong>79289</strong></p>
                <p class="subtitle is-6">🇩🇪 1,99 € / Min.</p> 
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="hero fh" id="3">
  <div class="hero-body">
      <div class="tile is-ancestor">
        <div class="tile is-2 is-parent"></div>
        <div class="tile is-3 is-vertical is-parent">
          <div class="container" data-aos="fade-right">
            <div class="content">
              <p class="title is-2" style="margin-bottom: 1.5rem;">Das Team</p>
              <p class="subtitle is-5">persönlich, kompetent, erreichbar</p>
              <p>Für alle Problemstellungen ist stets eine unserer Mitarbeiterinnen verantwortlich, die Sie in allen Angelegenheiten und Fragen ansprechen können. So stellen wir sicher, dass Sie fachlich stets optimal beraten werden, ohne dass der persönliche Kontakt verloren geht.</p>
              <a class="button is-primary is-large" (click)="openTeam()">
                <span>Team ansehen</span>
              </a>
            </div>
          </div>
        </div>
        <div class="tile is-parent is-7">
          <div class="container" data-aos="fade-left">
            <div class="card size">
              <div class="card-content">
                <p class="title is-2">Ingo Kneisel & Team</p>
                <p class="subtitle">Eine gute Beratung erfordert versierte und qualifizierte Mitarbeiter!</p>
                <div class="content">
                  <p>Mit unserem Team von Mitarbeiterinnen und einem Steuerberater/vBP als Kanzleiinhaber, stellen wir uns als versiertes und qualifiziertes Team allen Ihren Wünschen und Ansprüchen. Ihre persönliche Betreuung ist bei uns ein "Muss". Sie sind keine "Nummer" und müssen auch keine "ziehen" um von uns betreut und beraten zu werden.</p>
                  <p>Unsere Mitarbeiterinnen verfügen über umfangreiche Erfahrungen in der steuerlichen und betriebswirtschaftlichen Beratung. Wir bieten Ihnen unsere Dienstleistungen gut, verlässlich, kostengünstig und flexibel an.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="hero fh" id="4">
  <div class="hero-body">
      <div class="tile is-ancestor">
        <div class="tile is-7 is-vertical is-parent">
          <div class="container" data-aos="fade-right">
            <div class="card" style="height: 100%;">
              <div class="card-content">
                <p class="subtitle">Services</p>
                <p class="title is-2">Dienstleistungen</p>
                <div class="content">
                  <p>Wir versorgen Sie mit allem, was Sie für ein gut funktionierendes Unternehmen benötigen!</p>
                  <p>Vom <strong>Rechnungswesen</strong>, über <strong>Lohnbuchhaltung</strong> und <strong>Abschlussarbeiten</strong>, hin zu individuellster <strong>steuerlicher</strong> und <strong>betriebswirtschaftlicher Beratung</strong>, alles aus einer Hand.</p>
                  <p>Selbstverständlich haben wir auch gute Verbindungen und Kooperationen zu Leistungsträgern angrenzender Dienstleistungen und Rechtsgebiete.</p>
                  <p>Bitte sprechen Sie uns gerne dazu an!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent is-3">
          <div class="container" data-aos="fade-left">
            <div class="content">
              <p class="title is-2" style="margin-bottom: 1.5rem;">Übersicht</p>
              <p class="subtitle is-5">Dienstleistungsangebot</p>
              <p>Interesse geweckt? Informieren Sie sich gerne im Detail über unser Dienstleistungsangebot.</p>
              <a class="button is-primary is-large" (click)="openServices()">
                <span>Mehr erfahren</span>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="hero fh" id="5">
  <div class="hero-body">
      <div class="tile is-ancestor">
        <div class="tile is-2 is-parent"></div>
        <div class="tile is-3 is-vertical is-parent">
          <div class="container" data-aos="fade-right">
            <div class="content">
              <p class="subtitle is-5">Ausschreibungen</p>
              <p class="title is-2" style="margin-bottom: 1.5rem;">Wir suchen:</p>
              <a class="button is-primary is-large" (click)="openJob('1')">
                <span>Steuerberater (m/w/d)</span>
              </a>
            </div>
          </div>
        </div>
        <div class="tile is-parent is-7">
          <div class="container" data-aos="fade-left">
            <div class="card size">
              <div class="card-content">
                <p class="title is-2">Jobs</p>
                <p class="subtitle">Ihr Ansprechpartner</p>
                <div class="content">
                  <p style="margin-bottom: 0;"><strong>Ingo Kneisel</strong></p>
                  <p style="margin-bottom: 0;">Durchwahl: 0521 92420 - 21</p>
                  <a style="color: #880807;">info@ingo-kneisel.de</a>
                  <br>
                  <br>
                  <p>Bitte bewerben Sie sich, gerne per E-Mail!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="hero fh" id="6">
  <div class="hero-body">
      <div class="tile is-ancestor">
        <div class="tile is-7 is-vertical is-parent">
          <div class="container" data-aos="fade-right">
            <div class="card" style="height: 100%;">
              <div class="card-content">
                <p class="title is-2">Steuerberater Ingo Kneisel</p>
                <p class="subtitle">Kontakt</p>
                <div class="content">
                  <p style="margin-bottom: 0;">Potsdamer Str. 148a</p>
                  <p>33719 Bielefeld</p>
                  <p style="margin-bottom: 0;">Telefon: 0521 92420 - 0</p>
                  <p>Telefax: 0521 92420 - 20</p>
                  <a style="color: #880807;">info@ingo-kneisel.de</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent is-3">
          <div class="container" data-aos="fade-left">
            <div class="content">
              <p class="title is-2" style="margin-bottom: 1.5rem;">Öffnungszeiten</p>
              <p class="subtitle is-5">Geöffnet Werktags</p>
              <p style="margin-bottom: 0;">Montag bis Donnerstag:</p>
              <p>08:00 - 13:00 u. 14:00 - 17:00 Uhr</p>
              <p style="margin-bottom: 0;">Freitag:</p>
              <p>08:00 - 13:00 Uhr</p>
              <p><strong>Oder nach Vereinbarung</strong></p>
              <a class="button is-primary is-large is-hidden-mobile" (click)="scrollTo(5.825)">
                <span>Anfahrt</span>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="hero fh" id="7">
  <div class="hero-body">
      <div class="tile is-ancestor">
        <div class="tile is-12 is-vertical is-parent">
          <div class="container">
            <div class="card" style="height: 100%; overflow: hidden;">
                <div #gmap style="height:70vh;"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<ngx-smart-modal #teamModal identifier="teamModal" [closable]="true" [dismissable]="true" [escapable]="true">
    <div class="container">
        <p class="title">Die Gesichter</p>
        <h3 class="subtitle">Ingo Kneisel & Team</h3>
        <p>Dieser Inhalt befindet sich noch in der Erstellung.</p>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #jobModal1 identifier="jobModal1" [closable]="true" [dismissable]="true" [escapable]="true">
    <div class="container">
        <p class="title">Steuerberater (m/w/d)</p>
        <h3 class="subtitle">Karriere</h3>
        <p>Wir schreiben derzeit eine Anstellung für eine/n Steuerberater/in, entweder im Rahmen eines Anstellungsverhältnisses gem. § 58 StBerG oder einer freiberuflichen Zusammenarbeit aus. Es besteht auch die Möglichkeit, einer/m Kollegen/in der/die bereits selbst über einen eigenen kleinen Mandantenstamm verfügt, einen Arbeitsplatz, z. B. im Rahmen einer Bürogemeinschaft und/odere einer freien Mitarbeit in unserer Kanzlei zu bieten.</p>
        <p>Geplant ist längerfristig die Übergabe der Kanzlei an eine/n Nachfolger/in , der/dem sich damit sodann die Möglichkeit eröffnen könnte, unsere Mandanten und unser Umfeld kennenzulernen.</p>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #servicesModal identifier="servicesModal" [closable]="true" [dismissable]="true" [escapable]="true">
    <div class="container">
        <p class="title">Unsere Dienstleistungen ...</p>
        <h3 class="subtitle">... im Detail</h3>
        <p>Dieser Inhalt befindet sich noch in der Erstellung.</p>
    </div>
</ngx-smart-modal>