<nav class="navbar is-transparent is-fixed-top is-hidden-touch" role="navigation" aria-label="main navigation" data-aos="fade-down" data-aos-delay="3000">
  <div class="navbar-brand">
    <a class="navbar-item" style="padding-left: 0rem;" (click)="scrollTo(0)">
      <span class="brand-logo"><strong>INGO KNEISEL</strong></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item" (click)="scrollTo(0.70)">
        Online
      </a>
      
      <a class="navbar-item" (click)="scrollTo(1.70)">
        Team
      </a>

      <a class="navbar-item" (click)="scrollTo(2.70)">
        Dienstleistungen
      </a>

      <a class="navbar-item" (click)="scrollTo(3.70)">
        Jobs
      </a>
      
      <a class="navbar-item" (click)="scrollTo(4.70)">
        Kontakt
      </a>

      <a class="navbar-item" (click)="scrollTo(5.825)">
        Anfahrt
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a *ngIf="ts.tourActive" class="button is-primary" (click)="ts.stopped = true; ts.tourActive =  false;">Tour abbrechen</a>
          <a class="button is-primary" (click)="goToYourXpert()">
            <strong>YourXpert</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
