@import "/variables.scss";
@import "../node_modules/aos/src/sass/aos.scss";


$transition-duration: 700ms;
$transition-timing-function: ease-in-out;
@import "~ngx-smart-modal/ngx-smart-modal";


.nsm-dialog {
  position: fixed;
  top: calc(50vh - (85vh / 2));
  left: calc(50vw - (85vw / 2));
  width: 85vw;
  max-height: 80vh;
  max-width: 85vw;
  overflow: hidden;
}

.nsm-content {
  width: 100%;
  max-height: 80vh;
  height: auto;
  overflow: scroll;
  padding: 1.5em;
  margin: 0 auto;
}


.media-content {
  word-break: break-word;
}

::-webkit-scrollbar {
  width:8px;
}

:-webkit-scrollbar-track:no-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $primary;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}

a {
  color: $white;
}

.link {
  color: $primary;
  text-overflow: ellipsis;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: $primary;
}

a:hover {
  color: $primary;
}


html {
  scroll-behavior: smooth;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

.brand-logo {
  color: $primary;
  font-style: strong;
}

body {
  background-color: #e2e2ec;
}

.padding-general {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.hidden {
  display: none;
}

nav {
  // background-color: transparent;
  // background-image: none;
  padding-left: calc(1.5rem + 1.5%);
  padding-right: calc(1.5rem + 1.5%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

footer {
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5rem!important;
  padding-top: 0.5rem!important;
}

@media (min-width: 1024px) {
  .fh {
    height: 100vh!important;
  }
} 

.down {
  position: absolute;
  bottom: 5%;
}

.container {
  height: 100%;
  max-width: 100%;
}

.clickable {
  cursor: pointer;
}

.button {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
} 

.button:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all .2s ease-in-out;
  background-color: #fff;
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

.card:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.card-image {
  display: block;
  position: relative;
}

.card-header {
  background-color: transparent;
  padding: 1.5rem;
}

.card-content {
  background-color: transparent;
  padding: 1.5rem;
}

.title {
  color: $red;
}

.fit {
  height: calc(100% - 2.8125rem - 1.5rem);
}

.size {
  height: 100%;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
  html,
  body{
    width:100%;
    overflow-x:hidden;
  }
}

.fullscreen-modal {
  width: 100%;
}

.tour {
  position: fixed;
  top: 1.5rem;
  right: 5rem;
}

.rounded-edges {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('./assets/fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('./assets/fonts/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}