@import "/variables.scss";
@import "../node_modules/aos/src/sass/aos.scss";
@import "~ngx-smart-modal/ngx-smart-modal";

a {
  color: $white;
}

a:hover {
  color: $primary;
}

html {
  scroll-behavior: smooth;
}

.brand-logo {
  color: $primary;
  font-style: strong;
}

body {
  background-color: #e2e2ec;
}

.padding-general {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.hidden {
  display: none;
}

nav {
  // background-color: transparent;
  // background-image: none;
  padding-left: calc(1.5rem + 1.5%);
  padding-right: calc(1.5rem + 1.5%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

footer {
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5rem!important;
  padding-top: 0.5rem!important;
}

@media (min-width: 1024px) {
  .fh {
    height: 100vh!important;
  }
} 

.down {
  position: absolute;
  bottom: 5%;
}

.container {
  height: 100%;
  max-width: 100%;
}

.clickable {
  cursor: pointer;
}

.button {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
} 

.button:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all .2s ease-in-out;
  background-color: #fff;
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

.card:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.card-image {
  display: block;
  position: relative;
}

.card-header {
  background-color: transparent;
  padding: 1.5rem;
}

.card-content {
  background-color: transparent;
  padding: 1.5rem;
}

.title {
  color: $red;
}

.fit {
  height: calc(100% - 2.8125rem - 1.5rem);
}

.size {
  height: 100%;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
  html,
  body{
    width:100%;
    overflow-x:hidden;
  }
}

.nsm-dialog {
  width: 100%;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  position: absolute;
  min-height: 200px;
  max-width: 2000px;
}

.tour {
  position: fixed;
  top: 1.5rem;
  right: 5rem;
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('./assets/fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('./assets/fonts/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}